RewriteEngine on
RewriteRule ^dashboard$ index.php
RewriteRule ^patients$ patients.php
RewriteRule ^triage$ triage.php
RewriteRule ^plaintes$ plaintes.php
RewriteRule ^consultations$ consultations.php
RewriteRule ^cons$ cons.php
RewriteRule ^rapport_consult$ rapport_consult.php
RewriteRule ^rapc$ rapc.php
RewriteRule ^users$ users.php
RewriteRule ^personnel$ personnel.php
RewriteRule ^examen_labo$ examen_labo.php
RewriteRule ^labos$ labos.php
RewriteRule ^labo$ labo.php
RewriteRule ^rapport_triage$ rap_trie.php
RewriteRule ^rapport_labo$ rap_lab.php
RewriteRule ^labs$ labs.php
RewriteRule ^medicament$ medicament.php
RewriteRule ^resultat$ resultat.php
RewriteRule ^ordonn$ ordonn.php
RewriteRule ^ordonnances$ ordonnances.php
RewriteRule ^ordonnance$ ordonnance.php
RewriteRule ^facturation$ facturation.php
RewriteRule ^facturations$ facturations.php
RewriteRule ^personnel$ personnel.php
RewriteRule ^access$ access.php
RewriteRule ^departement$ departement.php
RewriteRule ^facture$ facture.php
RewriteRule ^paramettres$ paramettres.php
