RewriteEngine on
RewriteRule ^dashboard$ index.php
RewriteRule ^patients$ patients.php
RewriteRule ^triage$ triage.php
RewriteRule ^plaintes$ plaintes.php
RewriteRule ^consultations$ consultations.php
RewriteRule ^cons$ cons.php
RewriteRule ^rapport_reception$ rapport_reception.php