RewriteEngine on
RewriteRule ^dashboard$ index.php
RewriteRule ^patients$ patients.php
RewriteRule ^triage$ triage.php
RewriteRule ^plaintes$ plaintes.php
RewriteRule ^rapport_triage$ rap_trie.php
RewriteRule ^cons$ cons.php